section.contacto__container div.contacto-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
section.contacto__container nav ul li img {
  width: 3rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  background: transparent;
}
section.contacto__container nav ul li img:hover {
  width: 3.3rem;
}
